html, body, #container {
    min-height: 100% !important;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*background-color:#101010;*/
    color: #9d9d9d;

}

#container{
    font: 12px Arial;
    stroke-width: 2;
    position: absolute;
    z-index: 1;
    width: 100%;

}

#d3_container{
    top: 4vh;
    width: 80%;
    height: 100%;
    background: white;
}

#side_panel{
    top: 4vh;
    z-index: 1000;
    width: 20vw;
    height: 100%;
    overflow-y: auto;
    background: white;
    color: #333;
}

/*************** Top navigator **************/

nav {
    z-index: 1000000;
}

ul.dropdown-menu{
    width: 100%;
}

/*************** Side panel  **************/
h4#course-title{
    height: 3vh;
    text-overflow: ellipsis;
}
/*************** The Modal (background) **************/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 4%;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */


    transition: all 0.3s ease-out;
}

/* Modal Content */
.modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    border: 1px solid transparent;
    width: 50%;

    background-color: #333; /* Black w/ opacfity */
    opacity: .9;
    box-shadow: 0 3px 40px 6px rgba(0,0,0,.4);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #ddd;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}

.modal-body {
    padding: 2px 16px;
    color: #ddd;
    font-size: 15px;
    font-weight: 400;
    border: 1px solid transparent;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #333;
    border: 1px solid transparent;
    color: #ddd;
}
/*******************     end of modal      *****************/



/******************* Loading Spinner *********************/

/* Center the loader */
/* Absolute Center Spinner */
#loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;

    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
#loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.01);
}

/* :not(:required) hides these rules from IE9 and below */
#loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    -moz-animation: spinner 1500ms infinite linear;
    -ms-animation: spinner 1500ms infinite linear;
    -o-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(150, 150, 150, 0.75) 1.5em 0 0 0, rgba(150, 150, 150, 0.75) 1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) 0 1.5em 0 0, rgba(150, 150, 150, 0.75) -1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) -1.5em 0 0 0, rgba(150, 150, 150, 0.75) -1.1em -1.1em 0 0, rgba(150, 150, 150, 0.75) 0 -1.5em 0 0, rgba(150, 150, 150, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(150, 150, 150, 0.75) 1.5em 0 0 0, rgba(150, 150, 150, 0.75) 1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) 0 1.5em 0 0, rgba(150, 150, 150, 0.75) -1.1em 1.1em 0 0, rgba(150, 150, 150, 0.75) -1.5em 0 0 0, rgba(150, 150, 150, 0.75) -1.1em -1.1em 0 0, rgba(150, 150, 150, 0.75) 0 -1.5em 0 0, rgba(150, 150, 150, 0.75) 1.1em -1.1em 0 0;
    /*-webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;*/
    /*box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;*/
}

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/******************* End of Spinner *********************/


/*#basic-info-pane {*/
    /*top: 5vh;*/
    /*!*bottom: 10px;*!*/
    /*left: 10px;*/
    /*position: absolute;*/
    /*width: 230px;*/
    /*background-color: #f5f5f5;*/
    /*color: #333;*/
    /*box-shadow: 0 2px 6px rgba(0,0,0,0.3);*/
    /*z-index: 10000;*/

/*}*/

/*#basic-info-pane> div.colorCode-info {*/
/*margin: 10px;*/
/*overflow-x: auto;*/
/*font-size: 15px;*/
/*}*/


/*h2, h3, h4 {*/
/*padding: 0;*/
/*font-variant: small-caps;*/
/*}*/


/*h2.underline {*/
/*color: #333;*/
/*background: #f5f5f5;*/
/*margin: 0;*/
/*border-radius: 2px;*/
/*padding: 8px 12px;*/
/*font-weight: 700;*/
/*}*/


/*.hidden {*/
/*display: none;*/
/*visibility: hidden;*/
/*}*/

